* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 18px;
  max-width: 1440px;
  margin: auto;
  font-family: "Bai Jamjuree", sans-serif;
  color: #9fabb2;
}
h2,
h3 {
  color: #000000;
}
p {
  font-size: 15px;
}
header {
  background-image: url(images/bg-header-desktop.png),
    linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.5324511201839882) 100%,
      rgba(219, 227, 233, 0.813) 100%
    );
  background-size: cover;
  background-position: center center;
  text-align: center;
  height: 250px;
  padding: 80px 0;
}
.header-container {
  max-width: 80%;
  margin: auto;
  max-width: 500px;
}
.header-contents {
  text-align: center;
}
.header-contents h2 {
  font-size: 31px;
  padding: 0 0 10px;
}
.header-contents p {
  padding: 0 0 30px;
}
.header-navigation a {
  display: inline-block;
  color: #ffffff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 50px;
  margin: 0 10px;
}
.header-btn-one {
  background-color: hsl(171, 66%, 44%);
  box-shadow: 0px 3px hsla(171, 64%, 33%, 0.789);
}
.header-btn-two {
  background-color: hsl(233, 100%, 69%);
  box-shadow: 0px 3px hsla(233, 66%, 60%, 0.462);
}
.track-para {
  padding: 4em;
  text-align: center;
  max-width: 80%;
  margin: auto;
}
.track-para p {
  line-height: 1.6em;
}

.track-content {
  display: flex;
}
.track-content-img img {
  width: 100%;
  margin-left: -20px;
}
.track-dock {
  margin: 0 50px;
  gap: 80px;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.access-clip {
  padding: 80px 0 30px 0;
  text-align: center;
  width: 50%;
  margin: auto;
}
.access-image {
  text-align: center;
}
.access-image img {
  width: 70%;
  margin: auto;
}
.super-workflow {
  text-align: center;
  line-height: 30px;
}
.super-workflow h3 {
  font-size: 25px;
}
.super-workflow p {
  font-size: 13px;
}
.workflow-snippets {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  gap: 50px;
  width: 100%;
  height: 100%;
}

.workflow-snippet {
  width: 100%;
  margin: 7% 0 0 0;
}

.workflow-snippet img {
  width: 30px;
}

.workflow-snippet h3 {
  font-size: 18px;
}

.workflow-snippet p {
  width: 90%;
}
.brand-logo {
  display: flex;
  flex-direction: row;
  padding: 100px 0 100px;
  align-items: center;
  align-self: center;
  justify-content: center;
}
.logos img {
  width: 60%;
}
.Foot {
  text-align: center;
}
.foot-content {
  width: 70%;
  margin: auto;
}
.foot-content h3 {
  padding: 10px;
}
.foot-content p {
  padding: 0 0 20px 0;
  line-height: 25px;
}
.foot-btn a {
  display: inline-block;
  color: #ffffff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 50px;
  margin: 0 10px 5em;
}
.foot-btn-one {
  background-color: hsl(171, 66%, 44%);
  box-shadow: 0px 3px hsla(171, 64%, 33%, 0.789);
}
.foot-btn-two {
  background-color: hsl(233, 100%, 69%);
  box-shadow: 0px 3px hsla(233, 66%, 60%, 0.462);
}

.last-foot {
  background-color: rgb(243, 242, 242);
  padding: 20px 0 20px 0;
}

.last-foot-all {
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: space-between;
  max-width: 1400px;
  margin-inline: auto;
  padding-inline: 50px;
}

.last-foot-policy {
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr; */
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 50px;
  grid-row-gap: 1rem;
}

.last-foot-policy a {
  text-decoration: none;
  color: rgb(96, 95, 95);
  font-size: 15px;
}

.last-foot-logo img {
  width: 25%;
}
.policy a {
  text-decoration: none;
  color: #7f868a;
}
.attribution {
  font-size: 11px;
  text-align: center;
  padding: 10px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
.social-media img {
  padding: 5px;
}

/* For mobile devices*/
@media (max-width: 600px) {
  header {
    background-image: url(images/bg-header-mobile.png),
      linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.5324511201839882) 100%,
        rgba(219, 227, 233, 0.813) 100%
      );
  }
  .header-container {
    width: 80%;
  }
  .header-contents p {
    line-height: 1.5rem;
  }
  .header-navigation {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .header-navigation a {
    padding: 20px 0;
  }
  .track-para {
    padding: 150px 0 60px 0;
  }
  .track-para h3 {
    font-size: 30px;
    padding: 0 0 15px 0;
  }
  .track-content {
    display: flex;
    flex-direction: column;
  }
  .track-content-img img {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    padding: 0 0 50px 0;
  }
  .track {
    text-align: center;
  }

  .access-clip {
    width: 70%;
  }
  .access-clip h3 {
    padding: 10px;
  }
  .access-clip p {
    font-size: 14px;
    line-height: 1.5em;
  }
  .access-image img {
    width: 80%;
    margin-bottom: 70px;
  }
  .workflow-supercharge {
    width: 60%;
    margin: auto;
  }
  .workflow-supercharge p {
    line-height: 1.5em;
    padding: 0 0 50px 0;
  }
  .workflow-snippets {
    display: flex;
    flex-direction: column;
  }
  .workflow-snippet p {
    text-align: center;
    margin: auto;
    width: 100%;
  }
  .brand-logo {
    display: flex;
    flex-direction: column;
    gap: 50px;
    text-align: center;
  }
  .foot-btn a {
    margin-bottom: 30px;
  }
  .foot-btn {
    margin-bottom: 100px;
  }
  .foot-btn-one {
    width: 70%;
  }
  .foot-btn-two {
    width: 70%;
  }
  footer .last-foot-all {
    display: block;
    text-align: center;
  }
  .last-foot-logo {
    display: block;
    text-align: center;
  }
  .last-foot-logo img {
    width: 15%;
  }
  .last-foot-policy a {
    display: block;
    text-align: center;
    padding: 20px;
  }
  .last-foot-policy {
    display: block;
    text-align: center;
  }
  .last-foot-logo {
    padding: 2em 0;
  }
  .f-menu {
    width: 100%;
  }
  .social-icons {
    display: flex;
    justify-content: center;
  }
  .social-icons a {
    display: block;
    float: none;
    flex: 0 0 20%;
    text-align: center;
  }
  .social-media {
    padding: 10px;
    width: 40%;
    margin: auto;
  }
}
@media screen and (max-width: 920px) {
  .social-media img {
    width: 30%;
    padding: 5px;
  }

  .last-foot-policy a {
    text-decoration: none;
    color: rgb(96, 95, 95);
    font-size: 13px;
  }
}
